{% extends 'sistema/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Clase de Crédito
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'sistema:clasecreditocreate' %}"><i class="fa fa-plus fa-fw"
                                                                                    aria-hidden="true"></i>Añadir</a>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Valor desde</th>
                        <th>Valor hasta</th>
                        <th>Autorizar</th>
                        <th>Plazo máximo</th>
                        <th>Garante</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Descripcion</th>
                        <th>Valor desde</th>
                        <th>Valor hasta</th>
                        <th>Autorizar</th>
                        <th>Plazo máximo</th>
                        <th>Garante</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for clascredito in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'sistema:clasecreditodetail' clascredito.id %}">{{ clascredito.descripcion|title }}</a>
                            </td>
                            <td>$ {{ clascredito.valdesde }}</td>
                            <td>$ {{ clascredito.valhasta }}</td>
                            <td>{% if clascredito.autorizacion %}
                                Si
                            {% else %}
                                No
                            {% endif %}</td>
                            <td>{{ clascredito.plazomax }} meses</td>
                            <td>{% if clascredito.garante %}
                                Si
                            {% else %}
                                No
                            {% endif %}</td>
                            <td>
                                {% if clascredito.estado == 'ACT' or clascredito.estado == 'act' %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </td>
                            <td>
                                <form id="my_form{{ clascredito.id }}" method="post"
                                      action="{% url 'sistema:clasecreditodelete' clascredito.id %}">
                                    {% csrf_token %}
                                </form>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ clascredito.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Está seguro?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Si elimina este registro se eliminar de la base de datos
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        onclick="document.getElementById('my_form{{ clascredito.id }}').submit();">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger"
                                        aria-label="Delete" data-toggle="modal"
                                        data-target="#modal{{ clascredito.id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <a class="btn btn-warning" href="{% url 'sistema:clasecreditoupdate' clascredito.id %}"
                                   aria-label="Edit">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}