{% extends 'sistema/index.html' %}
{% block content %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Añadir Clase de Crédito</h3></div>
        <div class="card-body">
            {% if 'ok' in request.GET %}
                <div class="alert alert-success" role="alert">Registro actualizado correctamente</div>
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    {% if form.descripcion.errors %}
                        Descripción {{ form.descripcion.errors }}
                    {% endif %}
                    {% if form.valdesde.errors %}
                        Valor desde {{ form.valdesde.errors }}
                    {% endif %}
                    {% if form.valhasta.errors %}
                        Valor hasta {{ form.valhasta.errors }}
                    {% endif %}
                    {% if form.plazomax.errors %}
                        Plazo máximo {{ form.plazomax.errors }}
                    {% endif %}
                    {% if form.garante.errors %}
                        Garante {{ form.garante.errors }}
                    {% endif %}
                    {% if form.autorizacion.errors %}
                        Autorizar {{ form.autorizacion.errors }}
                    {% endif %}
                    {% if form.estado.errors %}
                        Estado {{ form.estado.errors }}
                    {% endif %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small mb-1" for="descripcionId">Descripción</label>
                    <input class="form-control py-4" id="descripcionId" name="descripcion" type="text"
                           placeholder="Ingrese la descripción" value="{{ clasecredito.descripcion }}" required/>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="valdesdeId">Valor desde</label>
                            <input class="form-control py-4" id="valdesdeId" name="valdesde" type="text"
                                   placeholder="Ingrese la valor" value="{{ clasecredito.valdesde }}" onkeypress="return soloNumeros(event)" required/>
                            {#                            <input type="text" class="form-control py-4" name="valdesde" id="valdesdeId"#}
                            {#                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"#}
                            {#                                   placeholder="$1,000,000.00" required/>#}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="valhastaId">Valor hasta</label>
                            <input class="form-control py-4" id="valhastaId" name="valhasta" type="text"
                                   placeholder="Ingrese la valor" value="{{ clasecredito.valhasta }}" onkeypress="return soloNumeros(event)" required/>
                            {#                            <input type="text" class="form-control py-4" name="valhasta" id="valhastaId"#}
                            {#                                   pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"#}
                            {#                                   placeholder="$1,000,000.00" required/>#}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="plazomaxId">Plazo máximo</label>
                            <input class="form-control py-4" id="plazomaxId" name="plazomax" type="number"
                                   placeholder="Ingrese el plazo máximo" value="{{ clasecredito.plazomax }}"
                                   onkeypress="return soloNumeros(event)" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Garante</label>
                            <br>
                            {% if clasecredito.garante != null %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="garante" id="garanteId1"
                                           value="True" {% if clasecredito.garante %}checked{% endif %}>
                                    <label class="form-check-label" for="garanteId1">
                                        SI
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="garante" id="garanteId2"
                                           value="False" {% if clasecredito.garante == False %}checked{% endif %}>
                                    <label class="form-check-label" for="garanteId2">
                                        NO
                                    </label>
                                </div>
                            {% else %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="garante" id="garanteId1"
                                           value="True" checked>
                                    <label class="form-check-label" for="garanteId1">
                                        SI
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="garante" id="garanteId2"
                                           value="False">
                                    <label class="form-check-label" for="garanteId2">
                                        NO
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1">Autorizar</label>
                            <br>
                            {% if clasecredito.autorizacion != null %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="autorizacion" id="autorizacionId1"
                                           value="True" {% if clasecredito.autorizacion %} checked{% endif %}>
                                    <label class="form-check-label" for="autorizacionId1">
                                        SI
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="autorizacion"
                                           id="autorizacionId2"
                                           value="False" {% if clasecredito.autorizacion == False %} checked{% endif %}>
                                    <label class="form-check-label" for="autorizacionId2">
                                        NO
                                    </label>
                                </div>
                            {% else %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="autorizacion" id="autorizacionId1"
                                           value="True" checked>
                                    <label class="form-check-label" for="autorizacionId1">
                                        SI
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="autorizacion" id="autorizacionId2"
                                           value="False">
                                    <label class="form-check-label" for="autorizacionId2">
                                        NO
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Estado</label>
                        <br>
                        {% if clasecredito.estado %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estado" id="estadoId1"
                                       value="act" {% if clasecredito.estado == 'act' or clasecredito.estado == 'ACT' %}checked{% endif %}/>
                                <label class="form-check-label" for="estadoId1">
                                    Activo
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estado" id="estadoId2"
                                       value="ina" {% if clasecredito.estado == 'ina' or clasecredito.estado == 'INA' %}checked{% endif %}/>
                                <label class="form-check-label" for="estadoId2">
                                    Inactivo
                                </label>
                            </div>
                        {% else %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estado" id="estadoId1"
                                       value="act" checked>
                                <label class="form-check-label" for="estadoId1">
                                    Activo
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="estado" id="estadoId2"
                                       value="ina">
                                <label class="form-check-label" for="estadoId2">
                                    Inactivo
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a href="{% url 'sistema:clasecreditolist' %}">
                        <svg class="svg-inline--fa fa-arrow-left fa-w-14 mr-1" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                        </svg><!-- <i class="fas fa-arrow-left mr-1"></i> -->
                        Volver
                    </a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        // Jquery Dependency
        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });


        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }


        function formatCurrency(input, blur) {
            // appends $ to value, validates decimal side
            // and puts cursor back in right position.

            // get input value
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") {
                return;
            }

            // original length
            var original_len = input_val.length;

            // initial caret position
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(".") >= 0) {

                // get position of first decimal
                // this prevents multiple decimals from
                // being entered
                var decimal_pos = input_val.indexOf(".");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos);

                // add commas to left side of number
                left_side = formatNumber(left_side);

                // validate right side
                right_side = formatNumber(right_side);

                // On blur make sure 2 numbers after decimal
                if (blur === "blur") {
                    right_side += "00";
                }

                // Limit decimal to only 2 digits
                right_side = right_side.substring(0, 2);

                // join number by .
                input_val = "$" + left_side + "." + right_side;

            } else {
                // no decimal entered
                // add commas to number
                // remove all non-digits
                input_val = formatNumber(input_val);
                input_val = "$" + input_val;

                // final formatting
                if (blur === "blur") {
                    input_val += ".00";
                }
            }

            // send updated string to input
            input.val(input_val);

            // put caret back in the right position
            var updated_len = input_val.length;
            caret_pos = updated_len - original_len + caret_pos;
            input[0].setSelectionRange(caret_pos, caret_pos);
        }
    </script>
{#    <script>#}
{#        function soloNumeros(evt) {#}
{#            var charCode = (evt.which) ? evt.which : event.keyCode;#}
{#            if (charCode > 31 && (charCode < 48 || charCode > 57)) {#}
{#                return false;#}
{#            } else {#}
{#                return true;#}
{#            }#}
{#        }#}
{#    </script>#}
    <script>
    function soloNumeros(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode(key);
          if (key.length == 0) return;
          var regex = /^[0-9.,\b]+$/;
          if (!regex.test(key)) {
              theEvent.returnValue = false;
              if (theEvent.preventDefault) theEvent.preventDefault();
          }
}
    </script>
{% endblock %}