{% extends 'sistema/base.html' %}
{% block titulo_pagina %}
    Adetups Administrador
{% endblock %}
{% block cuenta %}
    href="{% url 'sistema:usuarioupdate' request.user.id %}"
{% endblock %}
{% block navbar %}
    <div class="sb-sidenav-menu-heading">Principal</div>
    <a class="nav-link" href="{% url 'sistema:home' %}">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Inicio
    </a>
    <div class="sb-sidenav-menu-heading">Interfaces</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
       aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
        Mantenimientos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'sistema:clasecreditolist' %}">Clase de Créditos</a>

            <a class="nav-link" href="{% url 'sistema:restriccionclasecreditolist' %}">Restricciones de Clase de
                Crédito</a>
            <a class="nav-link" href="{% url 'sistema:rubrolist' %}">Rubros</a>
            <a class="nav-link" href="{% url 'sistema:usuariolist' %}">Usuarios</a>
        </nav>
    </div>
    {#    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcesos"#}
    {#       aria-expanded="false" aria-controls="collapseProcesos">#}
    {#        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>#}
    {#        Procesos#}
    {#        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
    {#    </a>#}
    {#    <div class="collapse" id="collapseProcesos" aria-labelledby="headingTwo"#}
    {#         data-parent="#sidenavAccordion">#}
    {#        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">#}
    {#            <a class="nav-link collapsed" href="#" data-toggle="collapse"#}
    {#               data-target="#pagesCollapseError" aria-expanded="false"#}
    {#               aria-controls="pagesCollapseError">#}
    {#                Error#}
    {#                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
    {#            </a>#}
    {#            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"#}
    {#                 data-parent="#sidenavAccordionPages">#}
    {#                <nav class="sb-sidenav-menu-nested nav">#}
    {#                    <a class="nav-link" href="401.html">401 Page</a>#}
    {#                    <a class="nav-link" href="404.html">404 Page</a>#}
    {#                    <a class="nav-link" href="500.html">500 Page</a>#}
    {#                </nav>#}
    {#            </div>#}
    {#        </nav>#}
    {#    </div>#}
    {#    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"#}
    {#       aria-expanded="false" aria-controls="collapseReportes">#}
    {#        <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>#}
    {#        Reportes#}
    {#        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
    {#    </a>#}
    {#    <div class="collapse" id="collapseReportes" aria-labelledby="headingTwo"#}
    {#         data-parent="#sidenavAccordion">#}
    {#        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">#}
    {#            <a class="nav-link" href="">Créditos</a>#}
    {#            <a class="nav-link" href="">Solicitudes de Créditos</a>#}
    {#        </nav>#}
    {#    </div>#}
{% endblock %}
{% block content %}
    <h1 class="mt-4">Bienvenido</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Inicio</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Clases de Créditos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'sistema:clasecreditolist' %}">Ver</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Usuarios</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'sistema:usuariolist' %}">Ver</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-table mr-1"></i>
                    Usuarios
                </div>
                <div class="col-8" align="right">
                    <a class="btn" href="{% url 'sistema:administradorcreate' %}"><i class="fa fa-plus fa-fw"
                                                                                     aria-hidden="true"></i>Administrador</a>
                    <a class="btn" href="{% url 'sistema:presidentecreate' %}"><i class="fa fa-plus fa-fw"
                                                                                  aria-hidden="true"></i>Presidente</a>
                    <a class="btn" href="{% url 'sistema:asistentecreate' %}"><i class="fa fa-plus fa-fw"
                                                                                 aria-hidden="true"></i>Asistente</a>
                    <a class="btn" href="{% url 'sistema:sociocreate' %}"><i class="fa fa-plus fa-fw"
                                                                             aria-hidden="true"></i>Socio</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-3" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula/Username</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula/Username</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Acciones</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>
                                <a href="{% url 'sistema:usuariodetail' usuario.id %}">{{ usuario.nombres|default_if_none:""|title }}</a>
                            </td>
                            <td>{{ usuario.apellidos|default_if_none:""|title }}</td>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.tipo|title }}</td>
                            <td>
                                {% if usuario.is_active %}
                                    Activado
                                {% endif %}
                                {% if usuario.is_active is False %}
                                    Desactivado
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <form id="my_form{{ usuario.id }}" method="post"
                                      action="{% url 'sistema:usuariodelete' usuario.id %}">
                                    {% csrf_token %}
                                </form>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ usuario.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Está seguro?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Si elimina el usuario <strong
                                                    class="text-adetups"> {{ usuario.username }} </strong> se eliminar de
                                                la base de datos
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        onclick="document.getElementById('my_form{{ usuario.id }}').submit();">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger p-1"
                                        aria-label="Delete" data-toggle="modal" data-target="#modal{{ usuario.id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <a class="btn btn-warning p-1"
                                        {% if usuario.tipo == 'socio' %}
                                   href="{% url 'sistema:socioupdate' usuario.id %}"

                                        {% endif %}
                                        {% if usuario.tipo == 'administrador' %}
                                   href="{% url 'sistema:administradorupdate' usuario.id %}"

                                        {% endif %}
                                        {% if usuario.tipo == 'presidente' %}
                                   href="{% url 'sistema:presidenteupdate' usuario.id %}"

                                        {% endif %}
                                        {% if usuario.tipo == 'asistente' %}
                                   href="{% url 'sistema:asistenteupdate' usuario.id %}"

                                        {% endif %}
                                   aria-label="Edit">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
