{% extends 'sistema/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Restricciones de Crédito
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'sistema:restriccionescreditocreate' %}"><i class="fa fa-plus fa-fw"
                                                                                            aria-hidden="true"></i>Añadir</a>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Clase de Crédito</th>
                        <th>Plazo máximo</th>
                        <th>Años desde</th>
                        <th>Años hasta</th>
                        <th>Valor máximo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Clase de Crédito</th>
                        <th>Plazo máximo</th>
                        <th>Años desde</th>
                        <th>Años hasta</th>
                        <th>Valor máximo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for restriccionescredito in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'sistema:restriccionescreditodetail' restriccionescredito.id %}">{{ restriccionescredito.clasecredito.descripcion|title }}</a>
                            </td>
                            <td>{{ restriccionescredito.plazomax }} meses</td>
                            <td>{{ restriccionescredito.tiempodesde }}</td>
                            <td>{{ restriccionescredito.tiempohasta }}</td>
                            <td>$ {{ restriccionescredito.valhasta }}</td>
                            <td>{{ restriccionescredito.estado|upper }}</td>
                            <td>
                                <form id="my_form{{ restriccionescredito.id }}" method="post"
                                      action="{% url 'sistema:restriccionescreditodelete' restriccionescredito.id %}">
                                    {% csrf_token %}
                                </form>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ restriccionescredito.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Está seguro?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                               Si elimina este registro  se eliminar de la base de datos
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        onclick="document.getElementById('my_form{{ restriccionescredito.id }}').submit();">Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger"
                                        aria-label="Delete" data-toggle="modal" data-target="#modal{{ restriccionescredito.id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <a class="btn btn-warning"
                                   href="{% url 'sistema:restriccionescreditoupdate' restriccionescredito.id %}"
                                   aria-label="Edit">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

