{% extends 'presidente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Cambiar contraseña
        </h3></div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-6" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new_password1" class="small mb-1">Contraseña nueva:</label>
                            <input type="password" class="form-control py-4" name="new_password1" id="new_password1" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new_password2" class="small mb-1">Contraseña nueva (confirmación):</label>
                            <input type="password" class="form-control py-4" name="new_password2" id="new_password2" required>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                            <button type="submit" class="btn btn-success">Cambiar</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}