{% extends 'sistema/base.html' %}
{% block titulo_pagina %}
    Adetups Presidente
{% endblock %}
{% block cuenta %}
    href="{% url 'presidente:usuarioupdate' request.user.id %}"
{% endblock %}
{% block navbar %}
    <div class="sb-sidenav-menu-heading">Principal</div>
    <a class="nav-link" href="{% url 'presidente:home' %}">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Inicio
    </a>
    <div class="sb-sidenav-menu-heading">Interfaces</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
       aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
        Mantenimientos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="{% url 'presidente:clasecreditolist' %}">Clase de Créditos</a>

            <a class="nav-link" href="{% url 'presidente:restriccionclasecreditolist' %}">Restriccion de Clase de
                Crédito</a>
            <a class="nav-link" href="{% url 'presidente:rubrolist' %}">Rubros</a>
            <a class="nav-link" href="{% url 'presidente:sociolist' %}">Socios</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcesos"
       aria-expanded="false" aria-controls="collapseProcesos">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        Procesos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseProcesos" aria-labelledby="headingTwo"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#procesosCollapseCredito" aria-expanded="false"
               aria-controls="procesosCollapseCredito">Créditos
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="procesosCollapseCredito" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'presidente:creditolist' %}">Lista de Créditos</a>
                </nav>
            </div>
            <a class="nav-link" href="{% url 'presidente:solicitudcreditolist' %}">Solicitudes de Crédito</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"
       aria-expanded="false" aria-controls="collapseReportes">
        <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
        Reportes
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseReportes" aria-labelledby="headingTwo"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            {#            <a class="nav-link" href="{% url 'presidente:reportecredito' %}">Créditos</a>#}
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h1 class="mt-4">Bienvenido</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Inicio</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Creditos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">Lista de creditos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Solicitudes de Credito</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href={% url 'presidente:solicitudcreditolist' %}>Lista de
                        solicitudes de credito</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function refrescarTable() {
            $('#tabla_solicitudes_credito').DataTable().ajax.reload();
        }
    </script>
    <script>
        $('#tabla_solicitudes_credito').DataTable({
            "bServerSide": true,
            "sAjaxSource": "{% url 'genericos:table-as-json' 'presidente' %}",
            "columnDefs": [
                {className: "text-center", "targets": [5]}
            ],

            {#dom: 'Bfrtip',#}
            {#buttons: [#}
            {#    {#}
            {#        text: 'My button',#}
            {#        action: function (e, dt, node, config) {#}
            {#            alert('Button activated');#}
            {#        }#}
            {#    }#}
            {#],#}

            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Se muestra de _START_ a _END_ registros de _TOTAL_ registros en total",
                infoEmpty: "Se muestra 0 registros de 0 ",
                infoFiltered: "(Hay _MAX_ registros en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No existen registros",
                paginate: {
                    first: "Primero",
                    previous: "Previo",
                    next: "Siguiente",
                    last: "Anterior"
                },
            }
        });
    </script>
{% endblock %}