{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Clase de Crédito
                </div>

            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Valor desde</th>
                        <th>Valor hasta</th>
                        <th>Autorizar</th>
                        <th>Plazo máximo</th>
                        <th>Garante</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Descripcion</th>
                        <th>Valor desde</th>
                        <th>Valor hasta</th>
                        <th>Autorizar</th>
                        <th>Plazo máximo</th>
                        <th>Garante</th>
                        <th>Estado</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for clascredito in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'asistente:clasecreditodetail' clascredito.id %}">{{ clascredito.descripcion|title }}</a>
                            </td>
                            <td>$ {{ clascredito.valdesde }}</td>
                            <td>$ {{ clascredito.valhasta }}</td>
                            <td>{% if clascredito.autorizacion %}
                                Si
                            {% else %}
                                No
                            {% endif %}</td>
                            <td>{{ clascredito.plazomax }} meses</td>
                            <td>{% if clascredito.garante %}
                                Si
                            {% else %}
                                No
                            {% endif %}</td>
                            <td>
                                {% if clascredito.estado == 'ACT' or clascredito.estado == 'act' %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}