{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Rubro Socio
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'asistente:rubrosociocreate' %}"><i class="fa fa-plus fa-fw"
                                                                                    aria-hidden="true"></i>Añadir</a>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" placeholder="Ingrese la cedula del socio" name="username"
                                   id="cedulaId"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-adetups">Buscar Rubros</button>
                    </div>
                </div>
                {% if socio %}
                    <h2 class="m-3 text-center">{{ socio.usuario.nombres|title }} {{ socio.usuario.apellidos|title }}</h2>
                {% endif %}
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" id="tablaRubrosSocio" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Rubro</th>
                        <th>Valor</th>
                        <th>Fecha de ingreso</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Rubro</th>
                        <th>Valor</th>
                        <th>Fecha de ingreso</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for rubrosocio in rubros %}
                        <tr>

                            <td>{{ rubrosocio.rubro.descripcion|title }}</td>
                            <td>$ {{ rubrosocio.valor }}</td>
                            <td>{{ rubrosocio.fecha_ingreso|date:"D d M Y" }}</td>
                            <td class="text-center">
                                <form id="my_form{{ rubrosocio.id }}" method="post"
                                      action="{% url 'asistente:rubrosociodelete' rubrosocio.id %}">
                                    {% csrf_token %}
                                </form>
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ rubrosocio.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Está seguro?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Si elimina este registro se eliminar de la base de datos
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        onclick="document.getElementById('my_form{{ rubrosocio.id }}').submit();">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger"
                                        aria-label="Delete" data-toggle="modal"
                                        data-target="#modal{{ rubrosocio.id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <a class="btn btn-warning"
                                   href="{% url 'asistente:home' %}"
                                   aria-label="Edit">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
