{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Seleccione rubros a subir
        </h3></div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-3" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-row text-center" >
                <div class="col-md-6">
                    <a href="{% url 'asistente:cargarrubrosmoviestar' %}" class="btn btn-primary">Subir excel rubro Moviestar</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'asistente:cargarrubrosgeneral' %}" class="btn btn-success">Subir excel todos los Rubros</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}>