{% extends 'sistema/base.html' %}
{% block titulo_pagina %}
    Adetups Asistente
{% endblock %}
{% block cuenta %}
    href="{% url 'asistente:usuarioupdate' request.user.id %}"
{% endblock %}
{% block navbar %}
    <div class="sb-sidenav-menu-heading">Principal</div>
    <a class="nav-link" href="{% url 'asistente:home' %}">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Inicio
    </a>
    <div class="sb-sidenav-menu-heading">Interfaces</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
       aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
        Mantenimientos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#mantenimientosCollapseClaseCreditos" aria-expanded="false"
               aria-controls="mantenimientosCollapseClaseCreditos">Clase de Créditos
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="mantenimientosCollapseClaseCreditos" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'asistente:clasecreditolist' %}">Lista Clase de Crédito</a>
                    <a class="nav-link" href="{% url 'asistente:restriccionclasecreditolist' %}">Resctricciones de Clase
                        de Crédito</a>
                </nav>
            </div>
            <a class="nav-link" href="{% url 'asistente:rubrolist' %}">Rubros</a>
            <a class="nav-link" href="{% url 'asistente:sociolist' %}">Socios</a>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProcesos"
       aria-expanded="false" aria-controls="collapseProcesos">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        Procesos
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseProcesos" aria-labelledby="headingTwo"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#procesosCollapseCreditos" aria-expanded="false"
               aria-controls="procesosCollapseCreditos">Créditos
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="procesosCollapseCreditos" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'asistente:consultarcuotas' %}">Consultar cuotas</a>
                    <a class="nav-link" href="{% url 'asistente:creditolist' %}">Consultar crédito</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#procesosCollapseRubros" aria-expanded="false"
               aria-controls="procesosCollapseRubros">
                Rubros
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="procesosCollapseRubros" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'asistente:consultar_rubros' %}">Rubros del Socio</a>
                    <a class="nav-link" href="{% url 'asistente:escogerarchivo' %}">Subir Rubros mediante excel</a>
                    {#                    <a class="nav-link" href="password.html">Consultar Rubros del Socio</a>#}
                </nav>
            </div>
        </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"
       aria-expanded="false" aria-controls="collapseReportes">
        <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
        Reportes
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseReportes" aria-labelledby="headingTwo"
         data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link" href="{% url 'asistente:reportescreditos' %}">Créditos</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h1 class="mt-4">Bienvenido</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Inicio</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Solicitar Crédito para {{ request.user.nombres|title }}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link"
                       href="{% url 'asistente:solicitudcreditocreate' request.user.id %}">Ingresar</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Subir rubros mediante archivo excel</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'asistente:escogerarchivo' %}">Escojer</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Créditos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'asistente:creditolist' %}">Lista de
                        créditos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-adetups text-white mb-4">
                <div class="card-body">Socios</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'asistente:sociolist' %}">Lista de
                        socios</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Solicitudes de Credito
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'asistente:escogersocio' %}"><i class="fa fa-plus fa-fw"
                                                                                aria-hidden="true"></i>Añadir solicitud
                        de crédito</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-1" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Socio</th>
                        <th>Fecha de ingreso</th>
                        <th>Garante</th>
                        <th>Monto</th>
                        <th>Clase de Credito</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Socio</th>
                        <th>Fecha de ingreso</th>
                        <th>Garante</th>
                        <th>Monto</th>
                        <th>Clase de Credito</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {#                    {% for solicitudcredito in solicitudescredito %}#}
                    {#                        <tr>#}
                    {#                            <td>#}
                    {#                                <a href="{% url 'asistente:sociodetail' solicitudcredito.socio.id %}">{{ solicitudcredito.socio.usuario.nombres|title }} {{ solicitudcredito.socio.usuario.apellidos|title }}</a>#}
                    {#                            </td>#}
                    {#                            <td>{{ solicitudcredito.fecha_ingreso }}</td>#}
                    {#                            <td>#}
                    {#                                {{ solicitudcredito.garante.usuario.nombres|title }} {{ solicitudcredito.garante.usuario.apellidos|title }}#}
                    {#                            </td>#}
                    {#                            <td>$ {{ solicitudcredito.monto }}</td>#}
                    {#                            <td>{{ solicitudcredito.clasecredito.descripcion|title }}</td>#}
                    {#                            <td>#}
                    {#                                {% if solicitudcredito.estado == 'pendiente' %}#}
                    {#                                    <p class="text-warning">Pendiente</p>#}
                    {#                                {% elif solicitudcredito.estado == 'aprobada' %}#}
                    {#                                    <p class="text-success">Aprobada</p>#}
                    {#                                {% elif solicitudcredito.estado == 'negada' %}#}
                    {#                                    <p class="text-danger">Negada</p>#}
                    {#                                {% elif solicitudcredito.estado == 'revisada' %}#}
                    {#                                    <p class="text-success">Revisada</p>#}
                    {#                                {% else %}#}
                    {#                                    {{ solicitudcredito.estado|title }}#}
                    {#                                {% endif %}#}
                    {##}
                    {#                            </td>#}
                    {#                            <td class="text-center">#}
                    {#                                <a class="btn btn-warning"#}
                    {#                                                       href="{% url 'asistente:solicitudcreditoupdate' solicitudcredito.id %}"#}
                    {#                                   aria-label="Edit">#}
                    {#                                    <i class="fa fa-eye" aria-hidden="true"></i>#}
                    {#                                </a>#}
                    {#                            </td>#}
                    {#                        </tr>#}
                    {#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block btn_imprimir %}
{% endblock %}
{% block js %}
    <script>
        $('table').DataTable({
            "bServerSide": true,
            "sAjaxSource": "{% url 'asistente:table-as-json' %}",
            "columnDefs": [
                {className: "text-center", "targets": [6]}
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Se muestra de _START_ a _END_ registros de _TOTAL_ registros en total",
                infoEmpty: "Se muestra 0 registros de 0 ",
                infoFiltered: "(Hay _MAX_ registros en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No existen registros",
                paginate: {
                    first: "Primero",
                    previous: "Previo",
                    next: "Siguiente",
                    last: "Anterior"
                },
            }
        });
    </script>
{% endblock %}