<{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Rubro Socio</h3></div>
        <div class="card-body">
            <div id="alertsId">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% if 'ok' in request.GET %}
                    <div class="alert alert-success" role="alert">Registro actualizado correctamente</div>
                {% endif %}
                {% if form.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% if form.nombres.errors %}
                            Nombres {{ form.nombres.errors }}
                        {% endif %}
                        {% if form.apellidos.errors %}
                            Apellidos {{ form.apellidos.errors }}
                        {% endif %}
                        {% if form.username.errors %}
                            Username{{ form.username.errors }}
                        {% endif %}
                        {% if form.email.errors %}
                            Email{{ form.email.errors }}
                        {% endif %}
                        {% if form.fecha_nacimiento.errors %}
                            Fecha de nacimiento {{ form.fecha_nacimiento.errors }}
                        {% endif %}
                        {% if form.passsword.errors %}
                            Contraseña {{ form.passsword.errors }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <form method="post" id="formularioId">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-md-center font-weight-bold text-primary" for="rubroId">Rubro</label>
                    <select class="selectpicker" name="rubro" id="rubroId"
                            required>
                        <option value="" disabled selected>Escoger una opción</option>
                        {% if rubros %}
                            {% for rubro in rubros %}
                                {#                                {% if rubro.clasecredito %}#}
                                {#                                    <option value="{{ clasecredito.id }}"#}
                                {#                                            {% if solicitudcredito.clasecredito.id == clasecredito.id %}#}
                                {#                                            selected{% endif %}>{{ clasecredito.descripcion|title }}</option>#}
                                {#                                {% else %}#}
                                <option value="{{ rubro.id }}">{{ rubro.descripcion|title }}</option>
                                {#                                {% endif %}#}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Ninguno"
                                       id="socioId" name="socio"
                                       required readonly/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                            data-target="#modalGarante">Selecionar Socio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label id="labelGarante"></label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="descripcionId">Descripcion</label>
                            <input class="form-control py-4" id="descripcionId" name="descripcion" type="text"
                                   placeholder="Ingrese la descripcion" value="{{ rubro.descripcion }}" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="servicioId">Servicio</label>
                            <input class="form-control py-4" id="servicioId" name="servicio" type="text"
                                   placeholder="Ingrese el servicio" value="{{ rubro.tipo }}" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="valorId">Valor</label>
                            <input class="form-control py-4" id="valorId" name="valor" type="number"
                                   placeholder="Ingrese el valor" value="{{ rubro.valor }}" required/>
                        </div>
                    </div>

                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true" id="modalGarante">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table mr-1"></i>
                                        Socios
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="tablaGarante" width="100%"
                                                   cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Cédula</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Cédula</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                {% for socio in socios %}
                                                    <tr>
                                                        <td>{{ socio.id }}</td>
                                                        <td>{{ socio.usuario.username }}</td>
                                                        <td>{{ socio.usuario.nombres|title }}</td>
                                                        <td>{{ socio.usuario.apellidos|title }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a href="{% url 'asistente:consultar_rubros' %}">
                        <svg class="svg-inline--fa fa-arrow-left fa-w-14 mr-1" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                        </svg>
                        Volver
                    </a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $("#formularioId").on('submit', function (evt) {
            var password1 = document.getElementById('passwordId').value;
            var password2 = document.getElementById('password2Id').value;
            var cardBody = document.getElementById('alertsId');
            if (password1 != password2) {
                cardBody.innerHTML = '<div class="alert alert-danger" role="alert">Las contraseñas no coinciden<div>'
                evt.preventDefault();
            }

        });


    </script>
    <script>
        function soloNumeros(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            if (key.length == 0) return;
            var regex = /^[0-9.,\b]+$/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
    <script>
        $('#fecha_nacimientoId').datepicker({
            language: 'es-ES',
            format: 'yyyy-mm-dd',
            autoHide: true
        });
    </script>
    <script>
        $('#fecha_ingresoId').datepicker({
            language: 'es-ES',
            format: 'yyyy-mm-dd',
            autoHide: true
        });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#tablaGarante').DataTable();
            $('#tablaGarante tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if ($(this).hasClass('text-success')) {
                    $(this).removeClass('text-success');
                    document.getElementById("garanteId").value = null;
                    document.getElementById("labelGarante").innerText = '';
                } else {
                    table.$('tr.text-success').removeClass('text-success');
                    $(this).addClass('text-success');
                    document.getElementById("socioId").value = data[0];
                    document.getElementById("labelGarante").innerText = data[2].charAt(0).toUpperCase() + data[2].slice(1) + " " + data[3].charAt(0).toUpperCase() + data[3].slice(1);
                }
            });
        });
    </script>
{% endblock %}