{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Seleccione archivo excel a subir
            para {{ titulo }}
        </h3></div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-6" role="alert"><i class="fa fa-exclamation-triangle"
                                                                        aria-hidden="true"></i>
                        {{ message }}</div>
                {% endfor %}
            {% endif %}
            <p>Recuerde que la clase de rubro debe de estar registrada antes de cargar el archivo de lo contrario no se
                guardaran los rubros de la clase no registrada. </p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang" lang="es"
                                   name="archivo_rubros"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <label class="custom-file-label" for="customFileLang">Click aqui para escoger
                                archivo</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Subir</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}
