{% extends 'asistente/index.html' %}
{% load humanize %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Rubros
                </div>
            </div>
        </div>

        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-1" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Nombres/Apellidos</th>
                        <th>Cedula</th>
                        <th>Total debito</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nro</th>
                        <th>Nombres/Apellidos</th>
                        <th>Cedula</th>
                        <th>Total debito</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for socio in rubros_generados %}
                        <tr>
                            <th class="font-weight-normal">{{ forloop.counter }}</th>
                            <th class="font-weight-normal">{{ socio.1 }}</th>
                            <td>{{ socio.2 }}</td>
                            <td>$ {{ socio.12|intcomma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="text-right m-4">
                    <button type="button" class="btn btn-adetups" data-toggle="modal" data-target="#exampleModal">
                        Guardar Rubros
                    </button>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Estas seguro?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Los rubros de los socios se guardaran en la base de datos.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('table').dataTable({
            paging: true,
            searching: true,
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Se muestra de _START_ a _END_ registros de _TOTAL_ registros en total",
                infoEmpty: "Se muestra 0 registros de 0 ",
                infoFiltered: "(Hay _MAX_ registros en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No existen registros",
                paginate: {
                    first: "Primero",
                    previous: "Previo",
                    next: "Siguiente",
                    last: "Anterior"
                },
            }

        });

    </script>
{% endblock %}
