{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Socios
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'asistente:sociocreate' %}"><i class="fa fa-plus fa-fw"
                                                                               aria-hidden="true"></i>Añadir</a>
                </div>
            </div>
        </div>
        {% if 'ok' in request.GET %}
            <div class="alert alert-success" role="alert">Registro creado correctamente</div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>

                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Estado</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for socio in socio_list %}
                        <tr>
                            <td>
                                <a href="{% url 'asistente:sociodetail' socio.id %}">{{ socio.usuario.nombres|title }}</a>
                            </td>
                            <td>{{ socio.usuario.apellidos|title }}</td>
                            <td>{{ socio.usuario.username }}</td>
                            <td>
                                {% if socio.usuario.is_active %}
                                    Activo
                                {% endif %}
                                {% if socio.usuario.is_active is False %}
                                    Desactivo
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block btn_imprimir %}
{% endblock %}