{% extends 'asistente/index.html' %}
{% block content %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-table mr-1"></i>
                    Socios
                </div>
                <div class="col-6" align="right">
                    <a class="btn" href="{% url 'asistente:sociocreate' %}"><i class="fa fa-plus fa-fw"
                                                                               aria-hidden="true"></i>Añadir socio</a>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-1" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Estado</th>
                        <th>Acciones</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {#                    {% for socio in socio_list %}#}
                    {#                        <tr>#}
                    {#                            <td>#}
                    {#                                <a href="{% url 'asistente:sociodetail' socio.id %}">{{ socio.usuario.nombres|title }}</a>#}
                    {#                            </td>#}
                    {#                            <td>{{ socio.usuario.apellidos|title }}</td>#}
                    {#                            <td>{{ socio.usuario.username }}</td>#}
                    {#                            <td>#}
                    {#                                {% if socio.usuario.is_active %}#}
                    {#                                    Activo#}
                    {#                                {% endif %}#}
                    {#                                {% if socio.usuario.is_active is False %}#}
                    {#                                    Desactivo#}
                    {#                                {% endif %}#}
                    {#                            </td>#}
                    {##}
                    {#                        </tr>#}
                    {#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('table').DataTable({
            "bServerSide": true,
            "sAjaxSource": "{% url 'asistente:tablesocio-as-json' %}",
             "columnDefs": [
                {className: "text-center", "targets": [4]}
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Se muestra de _START_ a _END_ registros de _TOTAL_ registros en total",
                infoEmpty: "Se muestra 0 registros de 0 ",
                infoFiltered: "(Hay _MAX_ registros en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No existen registros",
                paginate: {
                    first: "Primero",
                    previous: "Previo",
                    next: "Siguiente",
                    last: "Anterior"
                },
            }
        });
    </script>
{% endblock %}