{% extends 'asistente/index.html' %}
{% load  humanize %}
{% block content %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Registro de Solicitud
            de crédito para <strong>{{ socio.usuario.nombres|title }} {{ socio.usuario.apellidos|title }}</strong></h3>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-3" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    {% if form.clasecredito.errors %}
                        Clase de Crédito {{ form.clasecredito.errors }}
                    {% endif %}
                    {% if form.garante.errors %}
                        Garante {{ form.garante.errors }}
                    {% endif %}
                    {% if form.monto.errors %}
                        Monto {{ form.monto.errors }}
                    {% endif %}
                    {% if form.plazo.errors %}
                        Plazo {{ form.plazo.errors }}
                    {% endif %}
                    {% if form.csocodigo.errors %}
                        Clase de solicitud {{ form.csocodigo.errors }}
                    {% endif %}
                    {% if form.soccodigo.errors %}
                        Socio {{ form.soccodigo.errors }}
                    {% endif %}
                    {% if form.solporint.errors %}
                        Porcentaje de interes {{ form.solporint.errors }}
                    {% endif %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-md-center font-weight-bold text-primary" for="clasecreditoId">Clase de
                                Crédito</label>
                            <select class="selectpicker" name="clasecredito" id="clasecreditoId"
                                    onchange="enviarParametros()"
                                    required>
                                <option value="" disabled selected>Escoger una opción</option>
                                {% if clasecreditos %}
                                    {% for clasecredito in clasecreditos %}
                                        {% if solicitudcredito.clasecredito %}
                                            <option value="{{ clasecredito.id }}"
                                                    {% if solicitudcredito.clasecredito.id == clasecredito.id %}
                                                    selected{% endif %}>{{ clasecredito.descripcion|title }}</option>
                                        {% else %}
                                            <option value="{{ clasecredito.id }}">{{ clasecredito.descripcion|title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Tus años de servicio son: <b>{{ anios_servicio }}</b> años
                        </p>
                    </div>
                </div>
                <div id="infoCreditoId"></div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="montoId">Monto Solicitado <strong id="montoRangoId"></strong></label>
                            <input class="form-control py-4" id="montoId" name="monto" type="number"
                                   placeholder="Ingrese el valor del monto" value="{{ solicitudcredito.monto }}"
                                   onkeypress="return soloNumeros(event)" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="plazoId">Plazo (meses)<strong
                                    id="plazoRangoId"></strong></label>
                            <input class="form-control py-4" id="plazoId" name="plazo" type="number"
                                   placeholder="Ingrese la cantidad de meses plazo" value="{{ solicitudcredito.plazo }}"
                                   onkeypress="return soloNumeros(event)" maxlength="3" minlength="1" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ninguno"
                                       id="garanteId" name="garante"
                                       required readonly/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                            data-target="#modalGarante">Selecionar Garante
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="text-primary" id="labelGarante"></label>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <div class="col-md-6">
                        <a href="{% url 'asistente:solicitudcreditolist' %}">
                            <svg class="svg-inline--fa fa-arrow-left fa-w-14 mr-1" aria-hidden="true" focusable="false"
                                 data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                            </svg>
                            Volver
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#modalTablaAmortizacion" id="buttonAmortizacion">Ver tabla de amortizacion
                        </button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="div-comentario"></div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modalGarante">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Socios
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tablaGarante" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Cédula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Cédula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for garante in garantes %}
                                        <tr>
                                            <td>{{ garante.id }}</td>
                                            <td>{{ garante.usuario.username }}</td>
                                            <td>{{ garante.usuario.nombres|title }}</td>
                                            <td>{{ garante.usuario.apellidos|title }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" id="modalTablaAmortizacion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Tabla de Amortizacion
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="lista-tabla" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Fecha de pago</th>
                                        <th>Cuota</th>
                                        <th>Capital</th>
                                        <th>Interés</th>
                                        <th>Saldo</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Fecha de pago</th>
                                        <th>Cuota</th>
                                        <th>Capital</th>
                                        <th>Interés</th>
                                        <th>Saldo</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $('select').selectpicker();
    </script>
    <script>
        function soloNumeros(evt) {
            var monto = document.getElementById('montoId').value;
            var plazo = document.getElementById('plazoId').value;
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            } else {

                return true;

            }
        }
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#tablaGarante').DataTable();
            document.getElementById("garanteId").value = '';
            $('#tablaGarante tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if ($(this).hasClass('text-success')) {
                    $(this).removeClass('text-success');
                    document.getElementById("garanteId").value = null;
                    document.getElementById("labelGarante").innerText = '';
                } else {
                    table.$('tr.text-success').removeClass('text-success');
                    $(this).addClass('text-success');
                    document.getElementById("garanteId").value = data[0];
                    document.getElementById("labelGarante").innerText = data[2].charAt(0).toUpperCase() + data[2].slice(1) + " " + data[3].charAt(0).toUpperCase() + data[3].slice(1);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            enviarParametros();
        });
    </script>
    <script>
        function enviarParametros() {

            var infoCredito = document.getElementById('infoCreditoId');
            var listElement = document.createElement('ul');
            var creditos = document.getElementById('clasecreditoId')
            infoCredito.innerHTML = '';
            {% for clasecredito in clasecreditos %}
                if (creditos.value == {{ clasecredito.id }}) {
                    {% if  clasecredito.restricciones.all  %}
                        infoCredito.innerHTML = '<h5 class="">Información sobre el Crédito {{ clasecredito.descripcion|title }} </h5>'
                        infoCredito.appendChild(listElement);
                        {% for restriccion in clasecredito.restricciones.all %}

                            listItem{{ forloop.counter }} = document.createElement('li');
                            listItem{{ forloop.counter }}.className = 'text-secondary';
                            listItem{{ forloop.counter }}.innerHTML = 'Si tienes mas de {{ restriccion.tiempo_min }}{% if restriccion.tiempo_max is not None %}-{% endif %}{{ restriccion.tiempo_max }} años de servicio. Puedes solicitar hasta ${{ restriccion.val_max|intcomma }}, con un plazo maximo de {{ restriccion.plazo_max }} meses';
                            listElement.appendChild(listItem{{ forloop.counter }});
                        {% endfor %}
                    {% endif %}
                    {#listItem1 = document.createElement('li');#}
                    {#listItem2 = document.createElement('li');#}
                    {#listItem3 = document.createElement('li');#}
                    {#listItem4 = document.createElement('li');#}
                    {#listItem1.className = 'text-secondary'#}
                    {#listItem2.className = 'text-secondary'#}
                    {#listItem3.className = 'text-secondary'#}
                    {#listItem4.className = 'text-secondary'#}

                    {#listItem1.innerHTML = 'Puedes solicitar desde $ {{ clasecredito.valdesde }} hasta $ {{ clasecredito.valhasta }} ';#}
                    {#listItem2.innerHTML = 'Plazo maximo de cuotas {{ clasecredito.plazomax }} meses';#}
                    {#listItem3.innerHTML = 'Tiempo mínimo de servicio {{ clasecredito.tiempo_minimo_servicio }} años';#}
                    {#listItem4.innerHTML = 'Interes {{ clasecredito.porcentaje_interes }} %';#}

                    {#listElement.appendChild(listItem1);#}
                    {#listElement.appendChild(listItem2);#}
                    {#listElement.appendChild(listItem3);#}
                    {#listElement.appendChild(listItem4);#}

                    {#listElement.appendChild(listItem3);#}
                    {#monto.innerText = '(Desde $ {{ clasecredito.valdesde }} - Hasta $ {{ clasecredito.valhasta }} )';#}
                    {#plazo.innerText = '( máximo {{ clasecredito.plazomax }} meses )';#}

                }
            {% endfor %}


        }

    </script>
{% endblock %}