{#{% extends 'registration/login.html' %}#}
{#{% block content %}#}
{#    <div class="col-lg-6">#}
{#        <div class="card shadow-lg border-0 rounded-lg mt-5">#}
{#            <div class="card-header"><h3 class="text-center font-weight-light my-4">ADETUPS</h3>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <p class="mb-4">#}
{#                    Para restableces tu contraseña {{ user.get_username }} ,#}
{#                    da click en el siguiente enlace:#}
{##}
{#                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}#}
{##}
{#                    Si el enlace no funciona porfavor copia y pega el enlace en una nueva ventana de tu navegador.#}
{##}
{#                    Atentamente,#}
{#                    Soporte Adetups#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{% autoescape off %}
    Para restableces tu contraseña {{ user.get_username }} ,
    da click en el siguiente enlace:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Si el enlace no funciona porfavor copia y pega el enlace en una nueva ventana de tu navegador.

    Atentamente,
    Soporte Adetups
{% endautoescape %}